body {
    background-image: url("../images/background.jpg");
    font-size: 18px;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    min-height: 500px;
    max-width: 960px;
    margin-top: 25px;
    padding: 25px;
}

.answer {
    width: 300px;
    display: block;
    margin: 10px auto;
}

img {
    height: 200px;
}

#start-button {
    margin-top: 50px;
}

#time-remaining {
    margin-top: 30px;
    margin-bottom: 30px;
}

.incorrect-answer {
    color: #D8000C;
    font-weight: bold;
}

.correct-answer {
    color: #008000;
    font-weight: bold;
}